src/main/resources/wsdl/BrokerServiceExternalEC2Streamed.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="BrokerServiceExternalEC2StreamedSF" targetNamespace="http://www.altinn.no/services/ServiceEngine/Broker/2015/06" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.altinn.no/services/ServiceEngine/Broker/2015/06" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
    <wsp:Policy wsu:Id="CustomBinding_IBrokerServiceExternalEC2Streamed_policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"/>
                <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <!-- <sp:HttpToken/> -->
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic256/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp/>
                    </wsp:Policy>
                </sp:TransportBinding>
                <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                            <wsp:Policy>
                                <mssp:MustNotSendCancel xmlns:mssp="http://schemas.microsoft.com/ws/2005/07/securitypolicy"/>
                                <sp:BootstrapPolicy>
                                    <wsp:Policy>
                                        <sp:SignedParts>
                                            <sp:Body/>
                                            <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                                            <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
                                            <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                                            <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                                            <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                                            <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                                            <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                                        </sp:SignedParts>
                                        <sp:EncryptedParts>
                                            <sp:Body/>
                                        </sp:EncryptedParts>
                                        <sp:TransportBinding>
                                            <wsp:Policy>
                                                <sp:TransportToken>
                                                    <wsp:Policy>
                                                        <!-- <sp:HttpToken/> -->
                                                    </wsp:Policy>
                                                </sp:TransportToken>
                                                <sp:AlgorithmSuite>
                                                    <wsp:Policy>
                                                        <sp:Basic256/>
                                                    </wsp:Policy>
                                                </sp:AlgorithmSuite>
                                                <sp:Layout>
                                                    <wsp:Policy>
                                                        <sp:Strict/>
                                                    </wsp:Policy>
                                                </sp:Layout>
                                                <sp:IncludeTimestamp/>
                                            </wsp:Policy>
                                        </sp:TransportBinding>
                                        <sp:EndorsingSupportingTokens>
                                            <wsp:Policy>
                                                <sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                                                    <wsp:Policy>
                                                        <sp:RequireThumbprintReference/>
                                                        <sp:WssX509V3Token10/>
                                                    </wsp:Policy>
                                                </sp:X509Token>
                                                <sp:SignedParts>
                                                    <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                                                </sp:SignedParts>
                                            </wsp:Policy>
                                        </sp:EndorsingSupportingTokens>
                                        <sp:Wss11>
                                            <wsp:Policy>
                                                <sp:MustSupportRefThumbprint/>
                                            </wsp:Policy>
                                        </sp:Wss11>
                                        <sp:Trust10>
                                            <wsp:Policy>
                                                <sp:MustSupportIssuedTokens/>
                                                <sp:RequireClientEntropy/>
                                                <sp:RequireServerEntropy/>
                                            </wsp:Policy>
                                        </sp:Trust10>
                                    </wsp:Policy>
                                </sp:BootstrapPolicy>
                            </wsp:Policy>
                        </sp:SecureConversationToken>
                    </wsp:Policy>
                </sp:EndorsingSupportingTokens>
                <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy/>
                </sp:Wss11>
                <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:MustSupportIssuedTokens/>
                        <sp:RequireClientEntropy/>
                        <sp:RequireServerEntropy/>
                    </wsp:Policy>
                </sp:Trust10>
                <wsaw:UsingAddressing/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.altinn.no/services/ServiceEngine/Broker/2015/06/Imports">
            <xsd:import schemaLocation="https://tt02.altinn.no/ServiceEngineExternal/BrokerServiceExternalEC2Streamed.svc?xsd=xsd0" namespace="http://www.altinn.no/services/2009/10"/>
            <xsd:import schemaLocation="https://tt02.altinn.no/ServiceEngineExternal/BrokerServiceExternalEC2Streamed.svc?xsd=xsd2" namespace="http://www.altinn.no/services/common/fault/2009/10"/>
            <xsd:import schemaLocation="https://tt02.altinn.no/ServiceEngineExternal/BrokerServiceExternalEC2Streamed.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
            <xsd:import schemaLocation="https://tt02.altinn.no/ServiceEngineExternal/BrokerServiceExternalEC2Streamed.svc?xsd=xsd4" namespace="http://www.altinn.no/services/ServiceEngine/Broker/2015/06"/>
            <xsd:import schemaLocation="https://tt02.altinn.no/ServiceEngineExternal/BrokerServiceExternalEC2Streamed.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/Message"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="IBrokerServiceExternalEC2Streamed_Test_InputMessage">
        <wsdl:part name="parameters" element="q1:Test" xmlns:q1="http://www.altinn.no/services/2009/10"/>
    </wsdl:message>
    <wsdl:message name="IBrokerServiceExternalEC2Streamed_Test_OutputMessage">
        <wsdl:part name="parameters" element="q2:TestResponse" xmlns:q2="http://www.altinn.no/services/2009/10"/>
    </wsdl:message>
    <wsdl:message name="IBrokerServiceExternalEC2Streamed_Test_AltinnFaultFault_FaultMessage">
        <wsdl:part name="detail" element="q3:AltinnFault" xmlns:q3="http://www.altinn.no/services/common/fault/2009/10"/>
    </wsdl:message>
    <wsdl:message name="StreamedPayloadECBE">
        <wsdl:part name="parameters" element="tns:StreamedPayloadECBE"/>
    </wsdl:message>
    <wsdl:message name="StreamedPayloadECBE_Headers">
        <wsdl:part name="FileName" element="tns:FileName"/>
        <wsdl:part name="Password" element="tns:Password"/>
        <wsdl:part name="Reference" element="tns:Reference"/>
        <wsdl:part name="Reportee" element="tns:Reportee"/>
        <wsdl:part name="UserName" element="tns:UserName"/>
    </wsdl:message>
    <wsdl:message name="ReceiptExternalStreamedBE">
        <wsdl:part name="parameters" element="tns:ReceiptExternalStreamedBE"/>
    </wsdl:message>
    <wsdl:message name="IBrokerServiceExternalEC2Streamed_UploadFileStreamedEC_AltinnFaultFault_FaultMessage">
        <wsdl:part name="detail" element="q4:AltinnFault" xmlns:q4="http://www.altinn.no/services/common/fault/2009/10"/>
    </wsdl:message>
    <wsdl:message name="IBrokerServiceExternalEC2Streamed_DownloadFileStreamedEC_InputMessage">
        <wsdl:part name="parameters" element="tns:DownloadFileStreamedEC"/>
    </wsdl:message>
    <wsdl:message name="IBrokerServiceExternalEC2Streamed_DownloadFileStreamedEC_OutputMessage">
        <wsdl:part name="parameters" element="tns:DownloadFileStreamedECResponse"/>
    </wsdl:message>
    <wsdl:message name="IBrokerServiceExternalEC2Streamed_DownloadFileStreamedEC_AltinnFaultFault_FaultMessage">
        <wsdl:part name="detail" element="q5:AltinnFault" xmlns:q5="http://www.altinn.no/services/common/fault/2009/10"/>
    </wsdl:message>
    <wsdl:portType name="IBrokerServiceExternalEC2Streamed">
        <wsdl:documentation>&lt;summary&gt;
            External interface for exposing service operations for Broker Service with certificates.
            Used for end user systems to handle file operations.
            &lt;/summary&gt;</wsdl:documentation>
        <wsdl:operation name="Test">
            <wsdl:input wsaw:Action="http://www.altinn.no/services/2009/10/IAltinnContractBase/Test" message="tns:IBrokerServiceExternalEC2Streamed_Test_InputMessage"/>
            <wsdl:output wsaw:Action="http://www.altinn.no/services/2009/10/IAltinnContractBase/TestResponse" message="tns:IBrokerServiceExternalEC2Streamed_Test_OutputMessage"/>
            <wsdl:fault wsaw:Action="http://www.altinn.no/services/2009/10/IAltinnContractBase/TestAltinnFaultFault" name="AltinnFaultFault" message="tns:IBrokerServiceExternalEC2Streamed_Test_AltinnFaultFault_FaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="UploadFileStreamedEC">
            <wsdl:documentation>&lt;summary&gt;
                Operation for uploading a file to a broker service.
                &lt;/summary&gt;
                &lt;param name="payload"&gt;
                contains stream and authentication information
                Will contain all the data for submitting a Broker Service Payload to Altinn from the EndUserSystem using certificates
                &lt;/param&gt;
                &lt;returns&gt;
                A ReceiptBE entity for the initiated broker service
                &lt;/returns&gt;</wsdl:documentation>
            <wsdl:input wsaw:Action="http://www.altinn.no/services/ServiceEngine/Broker/2015/06/IBrokerServiceExternalECStreamed/UploadFileStreamedEC" name="StreamedPayloadECBE" message="tns:StreamedPayloadECBE"/>
            <wsdl:output wsaw:Action="http://www.altinn.no/services/ServiceEngine/Broker/2015/06/IBrokerServiceExternalECStreamed/UploadFileStreamedECResponse" name="ReceiptExternalStreamedBE" message="tns:ReceiptExternalStreamedBE"/>
            <wsdl:fault wsaw:Action="http://www.altinn.no/services/ServiceEngine/Broker/2015/06/IBrokerServiceExternalECStreamed/UploadFileStreamedECAltinnFaultFault" name="AltinnFaultFault" message="tns:IBrokerServiceExternalEC2Streamed_UploadFileStreamedEC_AltinnFaultFault_FaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="DownloadFileStreamedEC">
            <wsdl:documentation>&lt;summary&gt;
                Operation for downloading a file from a broker service.
                &lt;/summary&gt;
                &lt;param name="userName"&gt;
                User name is the relevant user name for the enterprise certificate user - mandatory parameter
                &lt;/param&gt;
                &lt;param name="password"&gt;
                Password for the corresponding enterprise certificate user - mandatory parameter
                &lt;/param&gt;
                &lt;param name="fileReference"&gt;
                The file reference value of the file that should be downloaded.
                &lt;/param&gt;
                &lt;param name="reportee"&gt;
                The social security number or organization number of the reportee.
                &lt;/param&gt;
                &lt;returns&gt;
                A stream with the content of the file.
                &lt;/returns&gt;</wsdl:documentation>
            <wsdl:input wsaw:Action="http://www.altinn.no/services/ServiceEngine/Broker/2015/06/IBrokerServiceExternalECStreamed/DownloadFileStreamedEC" message="tns:IBrokerServiceExternalEC2Streamed_DownloadFileStreamedEC_InputMessage"/>
            <wsdl:output wsaw:Action="http://www.altinn.no/services/ServiceEngine/Broker/2015/06/IBrokerServiceExternalECStreamed/DownloadFileStreamedECResponse" message="tns:IBrokerServiceExternalEC2Streamed_DownloadFileStreamedEC_OutputMessage"/>
            <wsdl:fault wsaw:Action="http://www.altinn.no/services/ServiceEngine/Broker/2015/06/IBrokerServiceExternalECStreamed/DownloadFileStreamedECAltinnFaultFault" name="AltinnFaultFault" message="tns:IBrokerServiceExternalEC2Streamed_DownloadFileStreamedEC_AltinnFaultFault_FaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CustomBinding_IBrokerServiceExternalEC2Streamed" type="tns:IBrokerServiceExternalEC2Streamed">
        <wsp:PolicyReference URI="#CustomBinding_IBrokerServiceExternalEC2Streamed_policy"/>
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Test">
            <soap12:operation soapAction="http://www.altinn.no/services/2009/10/IAltinnContractBase/Test" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AltinnFaultFault">
                <soap12:fault name="AltinnFaultFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="UploadFileStreamedEC">
            <soap12:operation soapAction="http://www.altinn.no/services/ServiceEngine/Broker/2015/06/IBrokerServiceExternalECStreamed/UploadFileStreamedEC" style="document"/>
            <wsdl:input name="StreamedPayloadECBE">
                <soap12:header message="tns:StreamedPayloadECBE_Headers" part="FileName" use="literal"/>
                <soap12:header message="tns:StreamedPayloadECBE_Headers" part="Password" use="literal"/>
                <soap12:header message="tns:StreamedPayloadECBE_Headers" part="Reference" use="literal"/>
                <soap12:header message="tns:StreamedPayloadECBE_Headers" part="Reportee" use="literal"/>
                <soap12:header message="tns:StreamedPayloadECBE_Headers" part="UserName" use="literal"/>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ReceiptExternalStreamedBE">
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AltinnFaultFault">
                <soap12:fault name="AltinnFaultFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="DownloadFileStreamedEC">
            <soap12:operation soapAction="http://www.altinn.no/services/ServiceEngine/Broker/2015/06/IBrokerServiceExternalECStreamed/DownloadFileStreamedEC" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AltinnFaultFault">
                <soap12:fault name="AltinnFaultFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BrokerServiceExternalEC2StreamedSF">
        <wsdl:port name="CustomBinding_IBrokerServiceExternalEC2Streamed" binding="tns:CustomBinding_IBrokerServiceExternalEC2Streamed">
            <soap12:address location="https://tt02.altinn.no/ServiceEngineExternal/BrokerServiceExternalEC2Streamed.svc"/>
            <wsa10:EndpointReference>
                <wsa10:Address>https://tt02.altinn.no/ServiceEngineExternal/BrokerServiceExternalEC2Streamed.svc</wsa10:Address>
            </wsa10:EndpointReference>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>